@charset "UTF-8";
body {
  background: gray;
}

#btn {
  margin: 30px auto 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #EF454A;
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 10px 0 #D1483E;
  border: 3px solid #D1483E;
  user-select: none;
}

#btn:hover {
  opacity: 1;
}

#btn.pushed {
  margin-top: 36px;
  box-shadow: 0 4px 0 #D1483E;
}
