@charset "UTF-8";

body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  background: #e0e0e0;
}


.container {
  width: 400px;
  margin: 30px auto;
}

textarea {
  width: 400px;
  box-sizing: border-box;
  height: 200px;
  padding: 14px;
  font-size: 16px;
  margin-bottom: 14px;
  line-height: 1.5

}

textarea:focus {
  outline: none;
}

p {
  color: #333;
  font-size: 14px;
  margin: 0;
  padding-top: 8px;
}

#label {
  font-weight: bold;
}

.btn {
  display: inline-block;
  width: 150px;
  background: #00aaff;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 0 #0088cc;
  float: right;

}

.warning {
  color: red;
}
